/* src/components/LandingPage.css */
body {
    margin: 0;
    font-family: "Arial", sans-serif;
}

.landing-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url("../assets/imgg.jpg");
    background-size: cover;
    color: #fff;
}

.header {
    max-width: 600px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.top-links {
    position: absolute;
    top: 20px;
    right: 20px;
}

.top-link {
    position: relative;
    margin-right: 20px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    transition: text-decoration color ease-in-out 0.3s;
}

.top-link:hover {
    color: white;
}

.top-link::after {
    content: "";
    display: block;
    height: 2px;
    left: 0;
    position: absolute;
    background: #fff;
    text-decoration: none;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
.top-link:hover::after {
    width: 100%;
}

.land-heading {
    margin-bottom: 10px;
    font-size: 3em;
    color: #ffd700;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

p {
    font-size: 18px;
    margin-bottom: 20px;
}

.cta-button {
    display: inline-block;
    padding: 8px 15px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    background-color: #45a049;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-top: 20px;
    border-radius: 8px;
}

.cta-button:hover {
    background-color: #2e8833;
}
