/* Post.css */

.post {
    padding: 16px;
    border-radius: 20px;
    background: #edededaa;
    overflow: hidden;
    margin: 8px;
}

h3 {
    margin: 0;
    color: #333;
}

.content {
    color: #555;
}

.info {
    font-style: italic;
    margin: 0;
    color: #777;
}

.comments-section {
    margin-top: 16px;
}

label {
    margin-right: 8px;
}
