.course-card-container {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    /* Adjust the margin as needed */
}

.posts-section {
    width: 80%;
    /* Adjust the width as needed */
}